@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito', sans-serif;
}

.custom-checkbox input[type="checkbox"]:checked + label div {
  background-color: #2563eb;
  border-color: #2563eb;
}

.custom-checkbox input[type="checkbox"]:checked + label svg {
  opacity: 1;
}

.custom-checkbox input[type="checkbox"]:focus + label div {
  box-shadow: 0 0 0 2px #3b82f6;
}

input[type="radio"] {
  height: 1rem;
  width: 1rem;
  border: 2px solid #d1d5db;
  background-color: white;
  appearance: none;
  border-radius: 50%;
  position: relative;
}

input[type="radio"]:checked {
  background-color: #2563eb;
  border-color: #2563eb;
}

input[type="radio"]:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
